.container {
  max-width: 60%;
  height: fit-content;
  padding: 1rem !important;
  margin: 1rem auto 0 !important;
  display: grid;
}

.container h1 {
  margin: 0 auto 1rem;
}

.item {
  white-space: nowrap;
  width: 100%;
  padding: 0.5rem 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: min-content min-content 1fr min-content;
  align-items: center;
  border-radius: 0.5rem;
  background: rgba(131, 117, 181, 0.2);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
