:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background: linear-gradient(
    160deg,
    rgba(31, 14, 94, 0.8) 14.6%,
    rgba(0, 67, 168, 0.8) 83.84%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}
a:hover {
  color: #8375b5;
}

body {
  min-width: 300px;
  min-height: 100vh;
  padding-top: 5rem;
}

h1 {
  font-size: 2rem;
  color: #4594f2;
}

button {
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem 3rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 1rem;
  background: #8375b5;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: border-color 0.2s;
}
button:hover,
button:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
button:disabled {
  cursor: wait;
  opacity: 0.7;
}

.buttonDarkTheme {
  border-color: #8375b5;
  background: #1f0e5e;
}

.container {
  max-width: 40rem;
  padding: 0 1rem;
  margin: 1rem auto 0;
}

.wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.sectionDarkTheme {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #8375b5;
  border-radius: 1rem;
  background: #1f0e5e;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.articleBox {
  min-width: 15rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 1rem;
  background: rgba(131, 117, 181, 0.2);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.error {
  color: #d8290a;
  margin: 1rem 0;
}

.animationBottom {
  opacity: 0;
  transform: translateY(40px);
  animation: animationBottom 0.3s forwards;
}

@keyframes animationBottom {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media (max-width: 40rem) {
  .buttonReturn {
    cursor: pointer;
    position: fixed;
    top: 1.9rem;
    left: 1rem;
    width: 35px;
    height: 25px;
    background: url('../assets/arrow.svg') no-repeat center center;
    z-index: 20;
  }
}