#root {
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.1;
}
input:-moz-placeholder {
  color: #fff;
  opacity: 0.1;
}
textarea:-moz-placeholder {
  color: #fff;
  opacity: 0.1;
}
